<html lang="en">

    <head>
        <title>index</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="/css/reset.css">
        <meta content="width=device-width, initial-scale=1" name="viewport" />
        <link rel="stylesheet" href="/css/root.css">
        <link rel="stylesheet" href="/css/style.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC-QkT0bewkYsfyn1R9KrC1bkvo9fE7tY0&libraries=places"></script>

        <script>
        var searchInput = 'input01';

        $(document).ready(function () {
        var autocomplete;
        autocomplete = new google.maps.places.Autocomplete((document.getElementById(searchInput)), {
            types: ['geocode'],
        });
        console.log(autocomplete);
         });
        </script>
    </head> 
    <body>

        <% if(success && success.length>0){ %>
            <div class="success" >
                <div class="green-icon" >
                    <i class="fa fa-check fa-lg green-icon" aria-hidden="true"></i>
                </div>
                <div class="green">
                    <h4>Success</h4>
                    <p><%= success %></p>
                </div>
                <div>
                    <i class="fa fa-times fa-lg error-icon" onclick="hidesuccessflash()" aria-hidden="true"></i>
                </div>
            </div>
        <% } %>



    <nav class="nav-bar" >
            <div class="image-ico" >
            <div class="imageii" >
                <a href="/index" ><img class= "image-01" src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/footer.png"></a>
            </div>
            <div class="bar-icon" >
                <i  onclick="showUl()" class="fa fa-bars"  id = "sign"></i>
            </div>
            </div>
            <div class="ul-list" >
                <ul class="contents" >
                    <li><a href="/doctor">Doctor</a></li>
                    <li><a href="/hospital">Hospital</a></li>
                    <li class="dropdown" >
                        <a href="/treatment">Treatment</a>
                        <ul class="dropdown-content" >
                            <li><a href="/">Cancer</a></li>
                            <li><a href="/">Dentistry</a></li>
                            <li><a href="/">CardioPedics Surgery</a></li>
                            <li><a href="/">Cardiology Treatment</a></li>
                            <li><a href="/">Infertility Specialist</a></li>
                            <li><a href="/">Cancer</a></li>
                        </ul>
                    </li>
                    <li><a href="/about">About</a></li>
                </ul>
            </div>
            <div class="top-btns" >  
                <% if(currentUser){  %>
                    <button id="tvastra-plus-btn" onclick="location.href = '/tvastra-plus';" >Tvastra Plus</button>
                <% } %>
                    <button id="btn2" onclick="location.href = '/';" >Get a Qoute</button>
            </div>
            <% if(currentUser){ %>
                <div class="head-nav-user" >
                    <div class="nav-user" >
                        <label ><%= currentUser.name.toUpperCase() %></label>
                        <i class="fa fa-angle-down nav-profile-icon" onclick="showProfile()" aria-hidden="true"></i>
                    </div>

                    <ul class="nav-user-profile">
                        <li class="user-profile-li" >
                            <div class="nav-user-image" >
                                <div class="contain-user-image" >
                                    <img class="user-image" src="/images/checkup.jpg" alt="image-user">
                                </div>
                                <div class="user-info" >
                                    <h4><%= currentUser.name.toUpperCase() %></h4>
                                    <span><%= currentUser.contactNo %></span>
                                </div>
                            </div>
                        </li>
                        <li class="user-profile-lis border-top" ><a href="#">My Appointments</a></li>
                        <li class="user-profile-lis"><a href="#">My Lab Tests</a></li>
                        <li class="user-profile-lis"><a href="#">My Medicine Order</a></li>
                        <li class="user-profile-lis"><a href="#">My Payments</a></li>
                        <li class="user-profile-lis"><a href="/logout">Logout</a></li>
                    </ul>
                </div>
                
            <% } %>
    </nav>





    <div class="container">
            <h1 >Find Affordable Healthcare</h1>
        	<p>Join the thousands of others who have exercised their right to quality healthcare at a price you can afford.</p>
        <div>
            <div class="loc-input">
            <i class="fa fa-map-marker" aria-hidden="true"></i>
			<input id = "input01" type="text"  placeholder=" Ahmdabad">
            <i class="fa fa-crosshairs" aria-hidden="true"></i>
        </div>
        <div class="loc-input "> 
            <input id = "input02" type="text"  placeholder=" Search for docs,hospital and Treatment">  
            <ul class="suggestions" >

            </ul>  
        </div>




        
        <button class="btn-first">Search</button>
        </div>
    </div>




    <div id= "how-it-works">
        <h2  >How it Works</h2>
        <p >Various Facilities are provided here but there is a protocol which needs to followed so that you may get service at its best.</p>
        <div class="flex-me" >
        <button  class = "how-it-works-btn" id = "p-btn1" onclick="Display('pImg1','p-btn1','blue-btn1')"><span class="blue-btn" id = "blue-btn1" >01</span> Fix Consultation</button>
            <div class="float-right" id = "pImg1">
            <img id = "image-02" src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/img1.png">
            <h3>Fix Consultation</h3>
            <p class="show-me" >Depicts that user will have to fix  </p>
            <p class="show-me show1" > when it selects a particular doctor.</p>
            </div>
        <button class = "how-it-works-btn" id = "p-btn2"  onclick="Display('pImg2','p-btn2','blue-btn2')"><span class="blue-btn" id = "blue-btn2" >02</span> Upload Medical Reports</button>
        <div class="float-right" id = "pImg2">
            <img id = "image-02"src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/img2.png">
            <h3>Upload Medical Reports</h3>
            <p class="show-me" >Depicts that user will have to fix  </p>
            <p class="show-me show1" > when it selects a particular doctor.</p>
        </div>
        <button class = "how-it-works-btn" id = "p-btn3"  onclick="Display('pImg3','p-btn3','blue-btn3')"><span class="blue-btn" id = "blue-btn3">03</span> Consult with Doctor</button>
        <div class="float-right" id = "pImg3">
            <img id = "image-02" src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/img3.jpeg">
            <h3>Consult with Doctor</h3>
            <p class="show-me" >Depicts that user will have to fix  </p>
            <p class="show-me show1" > when it selects a particular doctor.</p>
        </div>
        <button class = "how-it-works-btn" id = "p-btn4"  onclick="Display('pImg4','p-btn4','blue-btn4')"><span class="blue-btn" id = "blue-btn4">04</span> Fix Surgery</button>
        <div class="float-right" id = "pImg4">
            <img id = "image-02" src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/img4.jpeg">
            <h3>Fix Surgery</h3>
            <p class="show-me" >Depicts that user will have to fix  </p>
            <p class="show-me show1" > when it selects a particular doctor.</p>
        </div>
        <button class = "how-it-works-btn" id = "p-btn5"  onclick="Display('pImg5','p-btn5','blue-btn5')"><span class="blue-btn" id = "blue-btn5">05</span> Hospital Sent Estimates</button>
         <div class="float-right" id = "pImg5">
            <img id = "image-02" src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/img5.jpg">
            <h3>Hospital Sent Estimates</h3>
            <p class="show-me" >Depicts that user will have to fix  </p>
            <p class="show-me show1" > when it selects a particular doctor.</p>
        </div>
        <button class = "how-it-works-btn" id = "p-btn6"  onclick="Display('pImg6','p-btn6','blue-btn6')"><span class="blue-btn" id = "blue-btn6">06</span> Payment</button>
        <div class="float-right" id = "pImg6">
            <img id = "image-02" src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/img6.jpg">
            <h3>Payment</h3>
            <p class="show-me" >Depicts that user will have to fix  </p>
            <p class="show-me show1" > when it selects a particular doctor.</p>
        </div>
        <button class = "how-it-works-btn" id = "p-btn7"  onclick="Display('pImg7','p-btn7','blue-btn7')"><span class="blue-btn" id = "blue-btn7">07</span> Surgery Completed</button>
        <div class="float-right" id = "pImg7">
            <img id = "image-02" src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/img7.jpeg">
            <h3>Surgery Completed</h3>
            <p class="show-me" >Depicts that user will have to fix  </p>
            <p class="show-me show1" > when it selects a particular doctor.</p>
            </div>
        </div>
    </div>





    <div id="world-class-expert-docs">
        <h2 class="images-header">World class expert doctors!</h2>
        <p class="images-header">The university of texas southwestarn Medical Center has long been a world-renowed research Hospital. but until the '80s, you couldn't go there. Now with the addition of the Aston center and Zale Lipshy hospital, UT Southwestern ia also a mecca for patient care.  </p>
        <div class="blue-flex blue-flex-1">
        <div class="image-content">
            <div class="photo">
            <img class="doc-image" src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--002.jpg">
            <div class="new-add">
                <h4 class="add color-blue">Duke Sanson</h4>
            </div>
            <span class="add">Neuro Surgeon</span>
            <span class="add">Nuerological Surgery</span>
            <span class="add">Australia</span>
            </div>
        </div>
        <div class="image-content">
            <div class="photo">
                <img class="doc-image" src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--004.jpg">
                <div class="new-add">
                    <h4 class="add color-blue">Prakhar</h4>
                </div>
                <span class="add">Neuro Surgeon</span>
                <span class="add">Nuerological Surgery</span>
                <span class="add">Australia</span>
            </div>
        </div>
        <div class="image-content">
            <div id = "exception" class="photo">
                <img class="doc-image" src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--005.jpg">
                <div class="new-add">
                    <h4 class="add color-blue">Duke Sanson</h4>
                </div>
                <span class="add">Neuro Surgeon</span>
                <span class="add">Nuerological Surgery</span>
                <span class="add">Australia</span>
            </div>
        </div>
        <div class="image-content">
            <div id = "exception" class="photo">
                <img class="doc-image" src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--003.jpg">
                <div class="new-add">
                    <h4 class="add color-blue">Micheal</h4>
                </div>
                <span class="add">Neuro Surgeon</span>
                <span class="add">Nuerological Surgery</span>
                <span class="add">Australia</span>
            </div>
        </div>
        </div>
        <div class="blue-flex">
            <div class="image-content">
                <div class="photo">
                <img class="doc-image" src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--002.jpg">
                <div class="new-add">
                    <h4 class="add color-blue">Hiroshima</h4>
                </div>
                <span class="add">Neuro Surgeon</span>
                <span class="add">Nuerological Surgery</span>
                <span class="add">Australia</span>
                </div>
            </div>
            <div class="image-content">
                <div class="photo">
                    <img class="doc-image" src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--004.jpg">
                    <div class="new-add">
                        <h4 class="add color-blue">Duke Sanson</h4>
                    </div>
                    <span class="add">Neuro Surgeon</span>
                    <span class="add">Nuerological Surgery</span>
                    <span class="add">Australia</span>
                </div>
            </div>
            <div class="image-content">
                <div id = "exception" class="photo">
                    <img class="doc-image" src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--005.jpg">
                    <div class="new-add">
                        <h4 class="add color-blue">Duke Sanson</h4>
                    </div>
                    <span class="add">Neuro Surgeon</span>
                    <span class="add">Nuerological Surgery</span>
                    <span class="add">Australia</span>
                </div>
            </div>
            <div class="image-content">
                <div id = "exception" class="photo">
                    <img class="doc-image" src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--003.jpg">
                    <div class="new-add">
                        <h4 class="add color-blue">Duke Sanson</h4>
                    </div>
                    <span class="add">Neuro Surgeon</span>
                    <span class="add">Nuerological Surgery</span>
                    <span class="add">Australia</span>
                </div>
            </div>
        </div>
        <div class="blue-flex blue-flex-2">
        <div class="image-content">
            <div class="photo">
            <img class="doc-image" src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--002.jpg">
            <div class="new-add">
                <h4 class="add color-blue">Hiroshima</h4>
            </div>
            <span class="add">Neuro Surgeon</span>
            <span class="add">Nuerological Surgery</span>
            <span class="add">Australia 22</span>
            </div>
        </div>
        <div class="image-content">
            <div class="photo">
                <img class="doc-image" src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--004.jpg">
                <div class="new-add">
                    <h4 class="add color-blue">Sasuke</h4>
                </div>
                <span class="add">Neuro Surgeon</span>
                <span class="add">Nuerological Surgery</span>
                <span class="add">Australia</span>
            </div>
        </div>
        <div class="image-content">
            <div id = "exception" class="photo">
                <img class="doc-image" src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--005.jpg">
                <div class="new-add">
                    <h4 class="add color-blue">Scofield</h4>
                </div>
                <span class="add">Neuro Surgeon</span>
                <span class="add">Nuerological Surgery</span>
                <span class="add">Australia</span>
            </div>
        </div>
        <div class="image-content">
            <div id = "exception" class="photo">
                <img class="doc-image" src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--003.jpg">
                <div class="new-add">
                    <h4 class="add color-blue">Duke Sanson</h4>
                </div>
                <span class="add">Neuro Surgeon</span>
                <span class="add">Nuerological Surgery</span>
                <span class="add">Australia</span>
            </div>
        </div>
        </div>
        <div class="blue-flex blue-flex-3">
            <div class="image-content">
                <div class="photo">
                <img class="doc-image" src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--002.jpg">
                <div class="new-add">
                    <h4 class="add color-blue">john</h4>
                </div>
                <span class="add">Neuro Surgeon</span>
                <span class="add">Nuerological Surgery</span>
                <span class="add">Australia 33</span>
                </div>
            </div>
            <div class="image-content">
                <div class="photo">
                    <img class="doc-image" src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--004.jpg">
                    <div class="new-add">
                        <h4 class="add color-blue">David</h4>
                    </div>
                    <span class="add">Neuro Surgeon</span>
                    <span class="add">Nuerological Surgery</span>
                    <span class="add">Australia</span>
                </div>
            </div>
            <div class="image-content">
                <div id = "exception" class="photo">
                    <img class="doc-image" src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--005.jpg">
                    <div class="new-add">
                        <h4 class="add color-blue">Akash</h4>
                    </div>
                    <span class="add">Neuro Surgeon</span>
                    <span class="add">Nuerological Surgery</span>
                    <span class="add">Australia</span>
                </div>
            </div>
            <div class="image-content">
                <div id = "exception" class="photo">
                    <img class="doc-image" src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--003.jpg">
                    <div class="new-add">
                        <h4 class="add color-blue">Duke Sanson</h4>
                    </div>
                    <span class="add">Neuro Surgeon</span>
                    <span class="add">Nuerological Surgery</span>
                    <span class="add">Australia</span>
                </div>
            </div>
        </div>
        <div class="circle-icons" >
            <i class="fa fa-circle each-circle each-circle-1" onclick="indexShow1()" aria-hidden="true"></i>
            <i class="fa fa-circle each-circle each-circle-2" onclick="indexShow2()" aria-hidden="true"></i>
            <i class="fa fa-circle each-circle each-circle-3" onclick="indexShow3()" aria-hidden="true"></i>

        </div>
    </div>



 


    <div id="container-featured">
        <h2>Featured Medical Treatments</h2>
        <p>The hospital provides various medical treatments done by our expert doctors.Your Health is our priority.</p>
     <div  class="shadow-flex">
        <div class="patient-div grid-div1">
            <img class="patient-img img001" src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--010.jpg">
            <h4 class="on-image">Cancer</h4>
            <span class="on-image-01">50+ Specialists</span>
        </div>
        <div class="patient-div grid-div2">
            <img class="patient-img" src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--009.jpg">
            <h4 class="on-image">Dentistry</h4>
            <span class="on-image-01">40+ Specialists</span>
        </div>
        <div class="patient-div grid-div3">
            <img class="patient-img img001" src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--008.jpg">
            <h4 class="on-image">Cardiopedics Surgery</h4>
            <span class="on-image-01">30+ Specialists</span>
        </div>
        <div class="patient-div grid-div4">
            <img class="patient-img" src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--011.jpg">
            <h4 class="on-image">Cardiology Treatment</h4>
            <span class="on-image-01">100+ Specialists</span>
        </div>
        <div class="patient-div grid-div5">
            <img class="patient-img" src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--007.jpg">
            <h4 class="on-image">Infertility Specialist</h4>
            <span class="on-image-01">500+ Specialists</span>
        </div>
        <div class="patient-div grid-div6">
            <img class="patient-img" src="https://www.bing.com/th?id=OIP.qEoplBA_vDurXrMrhHpwyAHaE8&pid=Api&rs=1">
            <h4 class="on-image">Cancer</h4>
            <span class="on-image-01">50+ Specialists</span>
        </div>   
    </div>
    </div>





    <div class="exclusive-services">
		<h2>Exclusive Services</h2>
		<p>
		We want you to be comfortable and thus apart from treating your illness, we provide you with other services that can erase you. 
		</p>
	
	<div id = "service-icon1">
        <div class= "service-icon special-icon">
		    <img class="service-image" src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/Icons-01.png">
            <span class="on-icon" >Travel</span>
        </div>
        <div class= "service-icon">
		    <img class="service-image" src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/Icons-02.png">
            <span class="on-icon" >Food</span>
        </div>
        <div class= "service-icon">
		    <img class="service-image" src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/Icons-01.png">
            <span class="on-icon" >Flight</span>
        </div>
        <div class= "service-icon">
		    <img class="service-image" src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/Icons-03.png">
            <span class="on-icon" >Labs</span>
        </div>
        <div class= "service-icon">
		    <img class="service-image" src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/Icons-10.png">
            <span class="on-icon" >Reports</span>
        </div>
        <div class= "service-icon">
		    <img class="service-image" src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/Icons-06.png">
            <span class="on-icon" >Service</span>
        </div>
    </div>
    </div>




    <div id = "need-help">
        <div>
        <h2 class= "white-h1">Need Help?</h2>
        <p>just let us know.we will be happy to assist you.</p>
        </div>
        <button onclick="location.href = '/submit-your-query';" class="btn-last">Submit your query</button>
    </div>




    <footer class="very-last" >
        <div class="footer1" >
        <img id="last-image" src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/footer.png">
        <div id = "footer">
            <span class="footer-content"><a href="doctor" >Doctors</a></span>
            <span class="footer-content"><a href="hospital" >Hospitals</a></span>
            <span class="footer-content"><a href="treatment" >Treatments</a></span>
            <span class="footer-content"><a href="contact-us" >Contact Us</a></span>
            <span class="footer-content" ><a href="FAQ" >FAQs</a></span>
        </div>
        </div>
        <div id = "last-footer">
            <div>
            <p>All Rights Reserved. tvastra 2018</p>
            </div>
            <div class="corner" >
                <i class="fa fa-facebook-official icon-size" aria-hidden="true"></i>
                <i class="fa fa-pinterest-p icon-size" aria-hidden="true"></i>
                <i class="fa fa-google icon-size" aria-hidden="true"></i>
                <i class="fa fa-twitter icon-size" aria-hidden="true"></i>
                <i class="fa fa-instagram icon-size" aria-hidden="true"></i>
            </div>
        </div>
    </footer>
    

    <script src="/scripts/script.js"></script>

    </body>
</html>