<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/root.css">
    <link rel="stylesheet" href="/css/login_signup.css">
</head>
<body>

    <% if(error && error.length>0){ %>
        <div class="error" >
            <div class="red-icon" >
                <i class="fa fa-times-circle-o fa-2x error-icon" aria-hidden="true"></i>
            </div>
            <div class="red" >
                <h4>Failure</h4>
                <p><%= error %></p>
            </div>
            <div>
                <i class="fa fa-times fa-2x error-icon" onclick="hideErrorFlash()" aria-hidden="true"></i>
            </div>
        </div>
        <% } %>

        <% if(success && success.length>0){ %>
            <div class="success" >
                <div class="green-icon" >
                    <i class="fa fa-check fa-lg green-icon" aria-hidden="true"></i>
                </div>
                <div class="green">
                    <h4>Success</h4>
                    <p><%= success %></p>
                </div>
                <div>
                    <i class="fa fa-times fa-lg error-icon" onclick="hidesuccessflash()" aria-hidden="true"></i>
                </div>
            </div>
        <% } %>
    
        
    <nav class="nav-bar" >
        <div class="image-ico" >
        <div class="imageii" >
            <a href="index" ><img class= "image-01" src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/footer.png"></a>
        </div>
        <div class="bar-icon" >
            <i  onclick="showUl()" class="fa fa-bars"  id = "sign"></i>
        </div>
        </div>
        <div class="ul-list" >
            <ul class="contents" >
                <li><a href="/doctor">Doctor</a></li>
                <li><a href="/hospital">Hospital</a></li>
                <li class="dropdown" >
                    <a href="/treatment">Treatment</a>
                    <ul class="dropdown-content" >
                        <li><a href="/">Cancer</a></li>
                        <li><a href="/">Dentistry</a></li>
                        <li><a href="/">CardioPedics Surgery</a></li>
                        <li><a href="/">Cardiology Treatment</a></li>
                        <li><a href="/">Infertility Specialist</a></li>
                        <li><a href="/">Cancer</a></li>
                    </ul>
                </li>
                <li><a href="/about">About</a></li>
            </ul>
        </div>
        <div class="top-btns" >  

            <button onclick="location.href = '/tvastra-plus';" id = "btn2" >Get a Qoute</button>

        </div>
    </nav>

    
    <section class="Login-hero" >
    <div class="main-container1">
        <div class="heading" > 
        <h3 class="login-h3" >Login</h3>
        </div>
        <div class="container1" >


        <form action="/login" method="post">
        <div>
            <input class="inputE" type="email" name="username" placeholder="Enter E-mail" required>
        </div>
        <div class="contain-password" >
            <input class="inputE passwordField" type="password" name="password"  placeholder="Enter password"  
            title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters"
            pattern= "(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" required >
            <i class="fa fa-eye"       aria-hidden="true" onclick="hidePassword()" ></i>
            <i class="fa fa-eye-slash" aria-hidden="true" onclick="showPassword()"  ></i>  
        </div>
        <div class="contain-otp-password" >
            <a href="#">Login with OTP</a>
            <a href="#">Forgot Password</a>
        </div>
        <button class="input-btn" >LOGIN</button>
        <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
        </form>




        <span class="login-span" >Not Registered?<a href="sign-up" >Signup</a></span>
        </div>
        <div>
            <h4 class="login-h4" >or Connect with</h4>
            <div class="social-media" >
                <a href="https://www.facebook.com" ><img class="media-icon" src="https://hrcdn.net/fcore/assets/facebook-colored-af4249157d.svg" alt="Facebook"></a>
                <a href="https://www.google.co.in/?gfe_rd=cr&dcr=0&ei=SS9nWu3GLJGdX7_ZldgI" ><img class="media-icon" src="https://hrcdn.net/fcore/assets/google-colored-20b8216731.svg" alt="Google"></a>
                <a href="https://www.linkedin.com/feed/" ><img class="media-icon" src="https://hrcdn.net/fcore/assets/linkedin-colored-1db195795c.svg" alt="LinkeDn"></a>
                <a href="https://github.com/" ><img class="media-icon" src="https://hrcdn.net/fcore/assets/github-colored-1db995054b.svg" alt="git"></a>
            </div>
        </div>
    </div>
    <p class="last-p" >All rights Reserved Tvastra 2081</p>
    </section>



<script src="/scripts/script.js" ></script>
<script src="/scripts/flash.js" > </script>
    
</body>
</html>