<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tvastra Plus</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/css/reset.css">
    <link rel="stylesheet" href="/css/root.css">
    <link rel="stylesheet" href="/css/tvastra-plus.css">
</head>
<body>

    <nav class="nav-bar" >
        <div class="image-ico" >
        <div class="imageii" >
            <a href="/index" ><img class= "image-01" src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/footer.png"></a>
        </div>
        <div class="bar-icon" >
            <i  onclick="showUl()" class="fa fa-bars"  id = "sign"></i>
        </div>
        </div>
        <div class="ul-list" >
            <ul class="contents" >
                <li><a href="/doctor">Doctor</a></li>
                <li><a href="/hospital">Hospital</a></li>
                <li class="dropdown" >
                    <a href="/treatment">Treatment</a>
                    <ul class="dropdown-content" >
                        <li><a href="/">Cancer</a></li>
                        <li><a href="/">Dentistry</a></li>
                        <li><a href="/">CardioPedics Surgery</a></li>
                        <li><a href="/">Cardiology Treatment</a></li>
                        <li><a href="/">Infertility Specialist</a></li>
                        <li><a href="/">Cancer</a></li>
                    </ul>
                </li>
                <li><a href="/about">About</a></li>
            </ul>
        </div>
        <div class="top-btns" >  
            <% if(currentUser){  %>
                <button id="tvastra-plus-btn" onclick="location.href = '/tvastra-plus';" >Tvastra Plus</button>
            <% } %>
                <button id="btn2" onclick="location.href = '/';" >Get a Qoute</button>
        </div>
        <% if(currentUser){ %>
            <div class="head-nav-user" >
                <div class="nav-user" >
                    <label ><%= currentUser.name.toUpperCase() %></label>
                    <i class="fa fa-angle-down nav-profile-icon" onclick="showProfile()" aria-hidden="true"></i>
                </div>

                <ul class="nav-user-profile">
                    <li class="user-profile-li" >
                        <div class="nav-user-image" >
                            <div class="contain-user-image" >
                                <img class="user-image" src="/images/checkup.jpg" alt="image-user">
                            </div>
                            <div class="user-info" >
                                <h4><%= currentUser.name.toUpperCase() %></h4>
                                <span>9810832782</span>
                            </div>
                        </div>
                    </li>
                    <li class="user-profile-lis border-top" ><a href="#">My Appointments</a></li>
                    <li class="user-profile-lis"><a href="#">My Lab Tests</a></li>
                    <li class="user-profile-lis"><a href="#">My Medicine Order</a></li>
                    <li class="user-profile-lis"><a href="#">My Payments</a></li>
                    <li class="user-profile-lis"><a href="/logout">Logout</a></li>
                </ul>
            </div>
            
        <% } %>
</nav>




<section class="hero" >
    <button class="PLUS-btn" >PLUS</button>
    <h2>HealthCare Plans FOr Any OF Your Family </h2>
    <p>Become a Tvastra Plus Member and save 60% off on your yearly health Expenses</p>
</section>    

<section class="plans" >
    
    <div class="plan-header" >
        <h2>Select a Tvastra Plus HealthCare Plan</h2>
        <p>All PLus Plans are for Adults and Two Childrens</p>
    </div>
    <div class="contain-plans" >
        <div class="each-plan basic-plan" >
            <h3>Basic Plan</h3>
            <div class="plan-p" >
                <p>Unlimited ConsultationWIth any Speciallity</p>
                <p>20% off on prescribed Medicines</p>
                <p>20% on tests and Checkups</p>
                <p>10 Free in clinic Consultation</p>
                <p>Unlimited ConsultationWIth any Speciallity</p>
            </div>
            <div class="price" >
                <h3>$2999/Year</h3>
                <span>View Plan Details</span>
                <button class="buy-btn" >Buy Plan</button>
            </div>
        </div>
        <div class="each-plan advance-plan" >
            <label class="label">Polular</label>
            <h3>Advance Plan</h3>
            <div class="plan-p" >
                <p>Unlimited ConsultationWIth any Speciallity</p>
                <p>20% off on prescribed Medicines</p>
                <p>20% on tests and Checkups</p>
                <p>10 Free in clinic Consultation</p>
                <p>Unlimited ConsultationWIth any Speciallity</p>
            </div>
            <div class="price" >
                <h3>$3,999/Year</h3>
                <span>View Plan Details</span>
                <button class="buy-btn advance-plan-btn" >Buy Plan</button>
            </div>
        </div>
        <div class="each-plan comprehensive-plan" >
            <h3>Comprehensive Plan</h3>
            <div class="plan-p" >
                <p>Unlimited ConsultationWIth any Speciallity</p>
                <p>20% off on prescribed Medicines</p>
                <p>20% on tests and Checkups</p>
                <p>10 Free in clinic Consultation</p>
                <p>Unlimited ConsultationWIth any Speciallity</p>
            </div>
            <div class="price" >
                <h3>$5,999/Year</h3>
                <span>View Plan Details</span>
                <button class="buy-btn" >Buy Plan</button>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="header-rating">
        <h2>Trusted by 2Crore+ users every month</h2>
        <p>Tvastra is the Leading HealthCare Organisation in india.
        we began in 2009 nad today we help 2 crore customers every month.</p>
    </div>


    <div class="rating" >
        <div class="rating-number" >
            <h2 class="blue-color" >4.5</h2>
            <div class="stars" >
                <i class="fa fa-star blue-color" aria-hidden="true"></i>
                <i class="fa fa-star blue-color" aria-hidden="true"></i>
                <i class="fa fa-star blue-color" aria-hidden="true"></i>
                <i class="fa fa-star blue-color" aria-hidden="true"></i>
                <i class="fa fa-star-half-o blue-color" aria-hidden="true"></i>
            </div>
            <span class="blue-color">1000+ reviews</span>
        </div>
        <div class="rating-bar" >
            <!-- Fill UP -->
            <div class="each-bar" >
                <label >5</label>
                <div class="grey" >
                    <div class="blue-bar1" ></div>
                </div>
            </div>
            <div class="each-bar" >
                <label >4</label>
                <div class="grey" >
                    <div class="blue-bar2" ></div>
                </div>
            </div>
            <div class="each-bar" >
                <label >3</label>
                <div class="grey" >
                    <div class="blue-bar3" ></div>
                </div>
            </div>
            <div class="each-bar" >
                <label >2</label>
                <div class="grey" >
                    <div class="blue-bar4" ></div>
                </div>
            </div>
            <div class="each-bar" >
                <label >1</label>
                <div class="grey" >
                    <div class="blue-bar5" ></div>
                </div>
            </div>



        </div>
    </div>


    <div class="features" >
        <div class="each-feature" >
            <i class="fa fa-users fa-2x blue-color"  aria-hidden="true"></i>
            <h3 class="blue-color">2 Crore+ </h3>
            <span class="blue-color">Monthly Customers</span>
        </div>
        <div class="each-feature" >
            <i class="fa fa-users fa-2x blue-color" aria-hidden="true"></i>
            <h3 class="blue-color">1,00,000+</h3>
            <span class="blue-color">Verified Docotrs</span>
        </div>
        <div class="each-feature" >
            <i class="fa fa-users fa-2x blue-color" aria-hidden="true"></i>
            <h3 class="blue-color">10 Lakh+ </h3>
            <span class="blue-color">Medicine Orders Delivered</span>
        </div>
        <div class="each-feature" >
            <i class="fa fa-users fa-2x blue-color" aria-hidden="true"></i>
            <h3 class="blue-color">5 Crore+ </h3>
            <span class=" blue-color">Doctor Appointments</span>
        </div>
    </div>


</section>



<section class="plus-benefits" >
    <div class="benefit-header" >
        <span>Benefit of Plus MemberShip</span>
    </div>
    
    <div class="flex-div" >
    <div class="benefit-para" >
        <div class="zero-consult" >
            <h2>Zero Fees for inCLinic Consultation</h2>
        </div>
        <div class="flex-para" >
            <i class="fa fa-check-circle fa-lg" aria-hidden="true"></i>
            <p>Consult With 3000+ Specialist Docotrs at  top clinics & Hospitals in the PLUS network 
                at Rs.0 Consultaion Fees.
            </p>
        </div>
        <div class="flex-para" >
            <i class="fa fa-check-circle fa-lg" aria-hidden="true"></i>
            <p>
                Upto 10 in-clinic Consultaions can be used by any Family member over 12 months period. 
            </p>
        </div>
    </div>
    <div>
        <h3>Top Hospitals Onboard</h3>
        <div class="onboard-images" >
            <div class="border-left">
            <img class="onboard-image"  src="/images/pratiksha.svg" alt="birla">
            </div>
            <div class="border-left">
                <img class="onboard-image"  src="/images/sakra.svg" alt="birla">
            </div>
            <div class="border-left">
                <img class="onboard-image "  src="/images/psri.svg" alt="birla">
            </div>
            <div class="border-left">
                <img class="onboard-image"  src="/images/people-tree.svg" alt="birla">
            </div>
            <div class="border-left">
                <img class="onboard-image "  src="/images/birla.svg" alt="birla">
            </div>
            <div class="border-left">
                <img class="onboard-image"  src="/images/artemis.svg" alt="birla">
            </div> 
        </div>
        <div>
            <span>+ More Hospitals</span>
        </div>
    </div>
    </div>


    
</section>

<section class="all-images" >

<div class="feature-image feature-image1" >
    <div class="content" >
        <h3>Unlimited Online Consultaion With Top Docotrs</h3>
        <div class="flex-para" >
            <i class="fa fa-check-circle fa-lg" aria-hidden="true"></i>
            <p>Get All Your Health Queries Answered from any specialist online,any time of the day.</p>
        </div>
        <div class="flex-para" >
            <i class="fa fa-check-circle fa-lg" aria-hidden="true"></i>
            <p>Connect under 2 minutes on text call or video -available from any Specialist online .</p>
        </div>
        <div class="flex-para" >
            <i class="fa fa-check-circle fa-lg" aria-hidden="true"></i>
            <p>Get All Online Consultaions are Confidential.Only Patient and Docotorcan the access the chats.</p>
        </div>
    </div>
    <div class="contain-image" >
        <img src="/images/checkup.jpg" alt="image">
    </div>
</div>

<div class="feature-image " >
    <div class="content" >
        <h3>Flat 20% off on prescription medicine,lab tests and Checkups</h3>
        <div class="flex-para" >
            <i class="fa fa-check-circle fa-lg" aria-hidden="true"></i>
            <p>Save money on medicines and lab tests for yoru entire Family.</p>
        </div>
        <div class="flex-para" >
            <i class="fa fa-check-circle fa-lg" aria-hidden="true"></i>
            <p>Get flat 20% off on medicines that require prescriptions and flat 20% off on health checkups and lab tests.</p>
        </div>
        <div class="flex-para" >
            <i class="fa fa-check-circle fa-lg" aria-hidden="true"></i>
            <p>No Questions asked.No minimum order value ,no limit,available in 100+ cities across india.</p>
        </div>
    </div>
    <div class="contain-image" >
        <img src="/images/order.jpg" alt="image">
    </div>
</div>

<div class="feature-image feature-image1" >
    <div class="content" >
        <h3>2 Free Health Checkups</h3>
        <div class="flex-para" >
            <i class="fa fa-check-circle fa-lg" aria-hidden="true"></i>
            <p>Discuss your test results with doctors through online consultations.Recieve E-report within 48 hours .</p>
        </div>
        <div class="flex-para" >
            <i class="fa fa-check-circle fa-lg" aria-hidden="true"></i>
            <p>Home Sample Pickups.</p>
        </div>
        <div class="flex-para" >
            <i class="fa fa-check-circle fa-lg" aria-hidden="true"></i>
            <p>Tabs are NABL,CAP, Accredited.</p>
        </div>
        <div class="flex-para" >
            <i class="fa fa-check-circle fa-lg" aria-hidden="true"></i>
            <p>Checkups can be bokk anytime ,even weekends.Tax deductible under 80D.</p>
        </div>
    </div>
    <div class="contain-image" >
        <img src="/images/checkup.jpg" alt="image">
    </div>
</div>

</section>


<section class="tests" >
    <h3>60 Tests Included</h3>
    <div class="test-div hide-test-div1" >
        <div class="each-test" >
            <div class="contain-test-image" >
                <img src="/images/Vitamin test.svg" alt="">
            </div>
            <h4>Vitamin Profile</h4>
            <span>2 Tests</span>
        </div>
        <div class="each-test" >
            <div class="contain-test-image" >
                <img src="/images/Iron def.svg" alt="">
            </div>
            <h4>Iron Deficiency Profile</h4>
            <span>2 Tests</span>
        </div>
        <div class="each-test" >
            <div class="contain-test-image" >
                <img src="/images/Thyroid.svg" alt="">
            </div>
            <h4>Thyroid Profie</h4>
            <span>2 Tests</span>
        </div>
        <div class="each-test" >
            <div class="contain-test-image" >
                <img src="/images/Blood elemetns.svg" alt="">
            </div>
            <h4>Liver Profile</h4>
            <span>2 Tests</span>
        </div>
    </div>
    <div class="test-div hide-test-div" >
        <div class="each-test" >
            <div class="contain-test-image" >
                <img src="/images/Vitamin test.svg" alt="">
            </div>
            <h4>Cancer Profile</h4>
            <span>2 Tests</span>
        </div>
        <div class="each-test" >
            <div class="contain-test-image" >
                <img src="/images/Vitamin test.svg" alt="">
            </div>
            <h4>Pneumonia Profile</h4>
            <span>2 Tests</span>
        </div>
        <div class="each-test" >
            <div class="contain-test-image" >
                <img src="/images/Vitamin test.svg" alt="">
            </div>
            <h4>Heart Profie</h4>
            <span>2 Tests</span>
        </div>
        <div class="each-test" >
            <div class="contain-test-image" >
                <img src="/images/Thyroid.svg" alt="">
            </div>
            <h4>Infertility Profile</h4>
            <span>2 Tests</span>
        </div>
    </div>
    <div>
        <i class="fa fa-circle first-circle "  onclick= "showSecond()" aria-hidden="true"></i>
        <i class="fa fa-circle second-circle"  onclick= "showFirst()"  aria-hidden="true"></i>

    </div>
</section>


<section class="comment-section" >
    <div class="comment-header" >
        <h3>Why We Love Tvastra</h3>
        <button class="plus-btn" >PLUS</button>
    </div>
    <div class="comments" >
        <div class="each-comment" >
            <p>"WonderFul Eperience with Tvastra Plus it helped me in saving a lot of amount as it provides 
                free consultation with best docotors."</p>
            <div class="comment-flex" >
                <div class="contain-comment-image" >
                    <img class="comment-image" src="https://static.vectorcharacters.net/uploads/2013/10/Doctor_Vector_Character_Holding_a_Prescription_Preview.jpg" alt="">
                </div>
                <div class="comment-profile" >
                    <h4>Rishabh Tiwari</h4>
                    <label class="comment-label" > Advance Plan User </label>
                </div>
            </div>
        </div>
        <div class="each-comment" >
            <p>"WonderFul Eperience with Tvastra Plus it helped me in saving a lot of amount as it provides 
                free consultation with best docotors."</p>
            <div class="comment-flex" >
                <div class="contain-comment-image" >
                    <img class="comment-image" src="https://static.vectorcharacters.net/uploads/2013/10/Doctor_Vector_Character_Holding_a_Prescription_Preview.jpg" alt="">
                </div>
                <div class="comment-profile" >
                    <h4>Rishabh Tiwari</h4>
                    <label class="comment-label" > Advance Plan User </label>
                </div>
            </div>
        </div>
        <div class="each-comment" >
            <p>"WonderFul Eperience with Tvastra Plus it helped me in saving a lot of amount as it provides 
                free consultation with best docotors."</p>
            <div class="comment-flex" >
                <div class="contain-comment-image" >
                    <img class="comment-image" src="https://static.vectorcharacters.net/uploads/2013/10/Doctor_Vector_Character_Holding_a_Prescription_Preview.jpg" alt="">
                </div>
                <div class="comment-profile" >
                    <h4>Rishabh Tiwari</h4>
                    <label class="comment-label" > Advance Plan User </label>
                </div>
            </div>
        </div>
    </div>
</section>



<section class="FAQ" >  
    <h2>Frequently Asked Questions</h2>
    <div class="details" >
        <div class="contain-each" >
            <div>
            <div class="each-FAQ" id="diff-feature">
                <div>
                <h3>How does free in-clinic Consultaion with doctors and Hospitals Work?</h3>
                </div>
                <div class="contain-icons" >
                    <i class="fa fa-arrow-circle-up " id = "only-hide"  onclick="hidePara('show-p1','only-show','only-hide')" aria-hidden="true"></i>
                    <i class="fa fa-arrow-circle-down" id = "only-show" onclick="showPara('show-p1','only-show','only-hide')" aria-hidden="true"></i>
                </div>
            </div>
            <p class="show-p" id="show-p1" >Lorem ipsum dolor sit, amet consectetur adipisicing elit. Delectus iste repellendus commodi ex qui ipsa maxime atque corporis dolorem quod! Dicta eius accusantium eveniet placeat ipsa corporis ratione, alias odio.</p>
            </div>
            <div>
                <div class="each-FAQ" id="diff-feature">
                    <div>
                    <h3>Are There any type of doctors not included in Tvastra Plus in-clinic Consultaion Network.</h3>
                    </div>
                    <div class="contain-icons">
                        <i class="fa fa-arrow-circle-up " id = "only-hide1"  onclick="hidePara('show-p2','only-show1','only-hide1')" aria-hidden="true"></i>
                        <i class="fa fa-arrow-circle-down" id = "only-show1" onclick="showPara('show-p2','only-show1','only-hide1')" aria-hidden="true"></i>

                    </div>
                </div>
                <p class="show-p" id="show-p2" >Lorem ipsum dolor sit, amet consectetur adipisicing elit. Delectus iste repellendus commodi ex qui ipsa maxime atque corporis dolorem quod! Dicta eius accusantium eveniet placeat ipsa corporis ratione, alias odio.</p>
            </div>
            <div>
                <div class="each-FAQ" id="diff-feature">
                    <div>
                    <h3>How do the unlimited online Consultation work?</h3>
                    </div>
                    <div class="contain-icons">
                        <i class="fa fa-arrow-circle-up " id = "only-hide2"  onclick="hidePara('show-p3','only-show2','only-hide2')" aria-hidden="true"></i>
                        <i class="fa fa-arrow-circle-down" id = "only-show2" onclick="showPara('show-p3','only-show2','only-hide2')" aria-hidden="true"></i>

                    </div>
                </div>
                <p class="show-p" id="show-p3" >Lorem ipsum dolor sit, amet consectetur adipisicing elit. Delectus iste repellendus commodi ex qui ipsa maxime atque corporis dolorem quod! Dicta eius accusantium eveniet placeat ipsa corporis ratione, alias odio.</p>
            </div>
            <div>
                <div class="each-FAQ" id="diff-feature">
                    <div>
                    <h3>How does flat 20% off on medicines work??</h3>
                    </div>
                    <div class="contain-icons">
                        <i class="fa fa-arrow-circle-up " id = "only-hide3"  onclick="hidePara('show-p4','only-show3','only-hide3')" aria-hidden="true"></i>
                        <i class="fa fa-arrow-circle-down" id = "only-show3" onclick="showPara('show-p4','only-show3','only-hide3')" aria-hidden="true"></i>

                    </div>
                </div>
                <p class="show-p" id="show-p4" >Lorem ipsum dolor sit, amet consectetur adipisicing elit. Delectus iste repellendus commodi ex qui ipsa maxime atque corporis dolorem quod! Dicta eius accusantium eveniet placeat ipsa corporis ratione, alias odio.</p>
            </div>
            <div>
                <div class="each-FAQ" id="diff-feature">
                    <div>
                    <h3>How does 20% off on lab tests work?</h3>
                    </div>
                    <div class="contain-icons">
                        <i class="fa fa-arrow-circle-up " id = "only-hide4"  onclick="hidePara('show-p5','only-show4','only-hide4')" aria-hidden="true"></i>
                        <i class="fa fa-arrow-circle-down" id = "only-show4" onclick="showPara('show-p5','only-show4','only-hide4')" aria-hidden="true"></i>

                    </div>
                </div>
                <p class="show-p" id="show-p5" >Lorem ipsum dolor sit, amet consectetur adipisicing elit. Delectus iste repellendus commodi ex qui ipsa maxime atque corporis dolorem quod! Dicta eius accusantium eveniet placeat ipsa corporis ratione, alias odio.</p>
            </div>
        </div>
    </div>
</section>



<footer class="very-last" >
    <div class="footer1" >
    <img id="last-image" src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/footer.png">
    <div id = "footer">
        <span class="footer-content"><a href="doctor" >Doctors</a></span>
        <span class="footer-content"><a href="hospital" >Hospitals</a></span>
        <span class="footer-content"><a href="treatment" >Treatments</a></span>
        <span class="footer-content"><a href="contact-us" >Contact Us</a></span>
        <span class="footer-content" ><a href="FAQ" >FAQs</a></span>
    </div>
    </div>
    <div id = "last-footer">
        <div>
        <p>All Rights Reserved. tvastra 2018</p>
        </div>
        <div class="corner" >
            <i class="fa fa-facebook-official icon-size" aria-hidden="true"></i>
            <i class="fa fa-pinterest-p icon-size" aria-hidden="true"></i>
            <i class="fa fa-google icon-size" aria-hidden="true"></i>
            <i class="fa fa-twitter icon-size" aria-hidden="true"></i>
            <i class="fa fa-instagram icon-size" aria-hidden="true"></i>
        </div>
    </div>
</footer>




    

    <script src="/scripts/script.js"></script>

    
</body>
</html>