<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/root.css">
    <link rel="stylesheet" href="/css/contact-us.css">
</head>
<body>

    
    <nav class="nav-bar" >
        <div class="image-ico" >
        <div class="imageii" >
            <a href="index" ><img class= "image-01" src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/footer.png"></a>
        </div>
        <div class="bar-icon" >
            <i  onclick="showUl()" class="fa fa-bars"  id = "sign"></i>
        </div>
        </div>
        <div class="ul-list" >
            <ul class="contents" >
                <li><a href="/doctor">Doctor</a></li>
                <li><a href="/hospital">Hospital</a></li>
                <li class="dropdown" >
                    <a href="/treatment">Treatment</a>
                    <ul class="dropdown-content" >
                        <li><a href="/">Cancer</a></li>
                        <li><a href="/">Dentistry</a></li>
                        <li><a href="/">CardioPedics Surgery</a></li>
                        <li><a href="/">Cardiology Treatment</a></li>
                        <li><a href="/">Infertility Specialist</a></li>
                        <li><a href="/">Cancer</a></li>
                    </ul>
                </li>
                <li class="/contact-us" ><a href="/contact-us">Contact Us</a></li>
                <li><a href="/about">About</a></li>
            </ul>
        </div>
        <div class="top-btns" >  
        <%    if(!currentUser){  %>
            <button onclick="location.href = '/login';" id="btn1" >Login / Signup</button>
        <%    }else{             %>
            <button onclick="location.href = '/logout';" id="btn1" >Logout</button>
        <%    }    %>
            <button onclick="location.href = '/tvastra-plus';" id = "btn2" >Get a Qoute</button>

        </div>
    </nav>





    <section class="hero" >
        <h2>Contact Us</h2>
        <h4>Home / Contact Us</h4>
    </section>

    <div class="contain-map" >
    <div id="map"></div>
    </div>


<div class="contact-main" >
    <section class="contacts" >
        <div class="tvastra-details" >
            <i class="fa fa-home icons fa-2x" aria-hidden="true" class="icon-image"></i>
            <div class="details" >
                <h4 class="contact-h4" >Noida India</h4>
                <span>Sector 45</span>
            </div>
        </div  >
        <div class="tvastra-details">
            <i class="fa fa-phone icons fa-2x" aria-hidden="true" class="icon-image"></i>
            <div class="details" >
                <h4 class="contact-h4">00(440)9865962</h4>
                <span>Mon to Fri 9am to 6pm</span>
            </div>
        </div>
        <div  class="tvastra-details" >
            <i class="fa fa-home icons fa-2x" aria-hidden="true" class="icon-image"></i>
            <div class="details" >
                <h4 class="contact-h4">support@tvastra.com</h4>
                <span>Send us your query anytime!</span>
            </div>
        </div>
    </section>




    <section class="input-btn" >
        <div class="inputs">
            <div class="inputII" >
            <div>
            <input class="input-field" type="text" placeholder="Enter your Name" >
            <input class="input-field" type="text" placeholder="Enter ypur Email Address" >
            <input class="input-field" type="text" placeholder="Enter Subject" >
            </div>
            <div>
            <input class="input-field textarea1 " type="textarea" placeholder="Enter Message" >
            </div>
            </div>
            <div class="btn-div" >
            <button class="msg-btn" >Send Message</button>
            </div>
        </div>
    </section>
</div>



    <footer class="very-last" >
        <div class="footer1" >
        <img id="last-image" src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/footer.png">
        <div id = "footer">
            <span class="footer-content"><a href="doctor" >Doctors</a></span>
            <span class="footer-content"><a href="hospital" >Hospitals</a></span>
            <span class="footer-content"><a href="treatment" >Treatments</a></span>
            <span class="footer-content"><a href="contact-us" >Contact Us</a></span>
            <span class="footer-content" ><a href="FAQ" >FAQs</a></span>
        </div>
        </div>
        <div id = "last-footer">
            <div>
            <p>All Rights Reserved. tvastra 2018</p>
            </div>
            <div class="corner" >
                <i class="fa fa-facebook-official icon-size" aria-hidden="true"></i>
                <i class="fa fa-pinterest-p icon-size" aria-hidden="true"></i>
                <i class="fa fa-google icon-size" aria-hidden="true"></i>
                <i class="fa fa-twitter icon-size" aria-hidden="true"></i>
                <i class="fa fa-instagram icon-size" aria-hidden="true"></i>
            </div>
        </div>
    </footer>

    <script>
        function initMap() {
        var uluru = {lat: 28.673, lng: 77.2923};
        var map = new google.maps.Map(
            document.getElementById('map'), {zoom: 10, center: uluru});
        var marker = new google.maps.Marker({position: uluru, map: map});
      }
    </script>
      
        <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC-QkT0bewkYsfyn1R9KrC1bkvo9fE7tY0&callback=initMap">
    </script>


<script src="/script/script.js"></script>




</body>
</html>