<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Default</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/reset.css">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <link rel="stylesheet" href="/css/root.css">
    <link rel="stylesheet" href="/css/style.css">

    <style>
        .error{
            font-size: 3em;
            padding: 100px 20px;

        }
        .home-btn{
            height: 50px;
            padding: 10px 25px;
            width: 250px;
            background-color: #0099ff;
            border: 2px solid #0099ff;
            color: white;
            font-family: Dark;
            font-size: 1.2em;
            border-radius: 5px;
        }
        .contain-err{
            text-align: center;
        }
    </style>
</head>
<body>
    
    <nav class="nav-bar" >
        <div class="image-ico" >
        <div class="imageii" >
            <a href="index" ><img class= "image-01" src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/footer.png"></a>
        </div>
        <div class="bar-icon" >
            <i  onclick="showUl()" class="fa fa-bars"  id = "sign"></i>
        </div>
        </div>
        <div class="ul-list" >
            <ul class="contents" >
                <li><a href="doctor">Doctor</a></li>
                <li><a href="hospital">Hospital</a></li>
                <li><a href="treatment">Treatment</a></li>
                <li><a href="contact-us">Contact Us</a></li>
                <li><a href="about">About</a></li>
            </ul>
        </div>
        <div class="top-btns" >  
            <button id="btn1" >Login / Signup</button>
            <button onclick="location.href = 'login';" id = "btn2" >Get a Qoute</button>

        </div>
    </nav>
    <div class="contain-err" >
    <h1 class="error" >404, Not Found!</h1>
    <a href="index" ><button class="home-btn" >Go Home</button></a>
    </div>
    <script src="/script/script.js"></script>


    
</body>
</html>