<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Treatments</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/css/reset.css">
    <link rel="stylesheet" href="/css/root.css">
    <link rel="stylesheet" href="/css/treatment.css">
</head>
<body>
   
    <nav class="nav-bar" >
        <div class="image-ico" >
        <div class="imageii" >
            <a href="index" ><img class= "image-01" src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/footer.png"></a>
        </div>
        <div class="bar-icon" >
            <i  onclick="showUl()" class="fa fa-bars"  id = "sign"></i>
        </div>
        </div>
        <div class="ul-list" >
            <ul class="contents" >
                <li><a href="doctor">Doctor</a></li>
                <li><a href="hospital">Hospital</a></li>
                <li><a href="treatment">Treatment</a></li>
                <li><a href="contact-us">Contact Us</a></li>
                <li><a href="about">About</a></li>
            </ul>
        </div>
        <div class="top-btns" >  
            <button onclick="location.href = 'login';" id="btn1" >Login / Signup</button>
            <button id = "btn2" >Get a Qoute</button>

        </div>
    </nav>

    <section class="hero" >
        <h2>Dentistry</h2>
        <h4>Home / Dentistry</h4>
    </section>



<section class="main" >
    <div class="main1" >
    <div class="Vaccination" >
        <h2>Vaccination</h2>
        <div>
        <div class="contain-img" >
            <img class="patient-img" src="https://www.brightsmileokc.com/wp-content/themes/brightsmileokc/assets/images/callout1@2x.jpg" alt="Patinet">
        </div>
        <div>
        <div class="para" > 
        <h3>About Dentistry Department</h3>
        <p>The vaccination of dentists against various vaccine-preventable infections is the most important measure of primary prevention against such diseases which would otherwise prove fatel for both hte dentists and their patients..</p>
        </div>
        <ul class="vaccine-ul" >
            <li>CF-related diabetes(monthly)</li>
            <li>Gastrointensial (monthly)</li>
            <li>CF-related live disease</li>
            <li>Sweat testing (three times per month)</li>
        </ul>
        </div>
        </div>
    </div>



    <div class="features" >
        <div class="each-feature" >
            <i class="fa fa-stethoscope fa-5x" aria-hidden="true"></i>
            <h4>Central Nervous System</h4>
            <p>Open visitations with only two visitors in a room at any time.no one under 12 years of age may</p>
        </div>
        <div class="each-feature" >
            <i class="fa fa-user-circle-o fa-5x" aria-hidden="true"></i>
            <h4>Allergic Disorders</h4>
            <p>Open visitations with only two visitors in a room at any time.no one under 12 years of age may</p>
        </div>
        <div class="each-feature" >
            <i class="fa fa-frown-o fa-5x" aria-hidden="true"></i>
            <h4>Neoplastic disorders</h4>
            <p>Open visitations with only two visitors in a room at any time.no one under 12 years of age may</p>
        </div>
    </div>
    </div>



   <div class="main2" >
   <section class="service-details-section" > 
    <div class="service-details" >
        <h4>Service Details</h4>
        <div>
            <span class="Dark" >Price</span>
            <span class="Dark light">from $340</span>
        </div>
        <div>
            <span class="Dark">Duration</span>
            <span class="Dark light">10 minutes</span>
        </div>
        <div>
            <span class="Dark">Office</span>
            <span class="Dark light">#46</span>
        </div>
        <div>
            <span class="Dark">Doctor</span>
            <span class="Dark light">Dr.Elizabeth Beard</span>
        </div>
        <div>
            <span class="Dark">Categories </span>
            <span class="Dark light">Family Medicines</span>
        </div>
    </div>
    <div class="service-details" >
        <h4>Schedule</h4>
        <div>
            <span class="Dark" >Tuesday</span>
            <span class="Dark light">10:00am to 1:00am</span>
        </div>
        <div>
            <span class="Dark">Friday</span>
            <span class="Dark light">10:00am to 9:00ams</span>
        </div>
    </div>
    
   </section>
   </div>
    
</section>


    <section class="more-services">
        <div class="flex-icon" >
        <h2>More Services</h2>
        <div>
        <i class="fa fa-chevron-circle-left fa-2x" aria-hidden="true"></i>
        <i class="fa fa-chevron-circle-right fa-2x" aria-hidden="true"></i>
        </div>
        </div>
        <div class="flex-image" >
        <div > 
            <img class="patient-img1" src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--008.jpg" alt="patient">
            <h4>Orthopedic Surgery</h4>
        </div>
        <div>
            <img class="patient-img1" src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--010.jpg" alt="patient">
            <h4>Cancer</h4>
        </div>
        <div>
            <img class="patient-img1" src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--011.jpg" alt="patient">
            <h4>Cardiology</h4>
        </div>
        </div>


    </section>










    <footer class="very-last" >
        <div class="footer1" >
        <img id="last-image" src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/footer.png">
        <div id = "footer">
            <span class="footer-content"><a href="doctor" >Doctors</a></span>
            <span class="footer-content"><a href="hospital" >Hospitals</a></span>
            <span class="footer-content"><a href="treatment" >Treatments</a></span>
            <span class="footer-content"><a href="contact-us" >Contact Us</a></span>
            <span class="footer-content" ><a href="FAQ" >FAQs</a></span>
        </div>
        </div>
        <div id = "last-footer">
            <div>
            <p>All Rights Reserved. tvastra 2018</p>
            </div>
            <div class="corner" >
                <i class="fa fa-facebook-official icon-size" aria-hidden="true"></i>
                <i class="fa fa-pinterest-p icon-size" aria-hidden="true"></i>
                <i class="fa fa-google icon-size" aria-hidden="true"></i>
                <i class="fa fa-twitter icon-size" aria-hidden="true"></i>
                <i class="fa fa-instagram icon-size" aria-hidden="true"></i>
            </div>
        </div>
    </footer>




    <script src="/script/script.js"></script>

    
</body>
</html>