.appoitnment-hero{
    background-size:  cover;
    background-position: center;
    padding: 50px 20px;
    padding-bottom: 10px;
    text-align: center;
    background-color: #9cbfda;
}
.main-container1{
    background-color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 2px solid white;
    border-radius: 5px;
    margin-bottom: 30px;
    box-shadow: 5px 5px 5px  rgba(128,128,128,0.8);
}
.heading{
    border-bottom: 2px solid rgba(128,128,128,0.2);
}
.appoint-h3{
    color: #4f9cd6;
    padding: 20px;
}
.container1{
    display: flex;
    flex-direction: column;
    margin: 0;
    background-color: white;
    padding: 20px;
    padding-top: 0;
    border-radius: 5px;
    position: relative;
}
.labels{
    margin:0;
    font-family: Dark;
    text-align: left;
    font-size: 1.2em;
    letter-spacing: 0.5;
    padding-top: 20px;
}
.inputE{
    border:1px solid gray;
    border-radius: 2px;
    padding: 20px;
    font-size: 1.3em;
    margin-top:20px ;
    height: 50px;
    width: 100%;
    color: gray;
    background-color: white;
}
.radio{
    display: flex;
    padding-top: 15px;
    font-weight: bolder;
}
.upload-data{
    display: flex;
    padding-top: 10px;
}
.no-file-chosen{
    font-weight: 800;
    line-height: 1.5;
}
#textarea{
    margin-top: 15px;
}
.appoint-btn{
    height:60px;
    font-size: 1em;
    background-color: #152238;
    color: white;
    border: 1px solid #152238;
    border-radius: 5px;
    margin: 20px 0;
    margin-bottom: 0;
    letter-spacing: 2px;
    font-family: Dark;
}
.fa-long-arrow-right{
    position: absolute;
    right: 40px;
    bottom: 43px;
    color: white;
}
.last-p{
    font-family: Dark;
    font-size: 13px;
}

@media only screen and (min-device-width:767px)
and (max-device-width:1023px){
    .main-container1{
        margin: 30px 16%;
        margin-bottom: 60px;
    }
}

@media only screen and (min-device-width:1023px){
    .main-container1{
        margin: 150px 25% ;
        margin-bottom: 170px;;
    }
}