.hero{
    background: url("https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/contactUs.png");
    background-size:  cover;
    background-position: center;
    padding: 80px 20px;
    text-align: center;
}

.hero > h2{
    padding: 0;
    color: white;
    font-size: 1.65em;   
}

.hero > h4{
    padding: 0;
    padding-top: 20px;
    color: white;
    font-family: Light;
    font-size: 1em;
}
#sign{
    padding-right: 20px;
}
.FAQ{
    margin: 20px;
}

.color-blue{
    padding-left: 50px;
    color: #4797d4;
}

.contain-icons{
    padding-top: 5px;
}

.contain-each > p{
    margin: 0;
    background-color: #dbe9f3;
    padding:5px;
}
.each-FAQ{
    display: flex;
    padding: 20px 0;
    color: #4797d4;
    justify-content: space-between;

}

#only-hide{
    display: block;
}
.fa-arrow-circle-up{
    display: none;
}
.fa-arrow-circle-down{
    display: block;
}
#only-show{
    display: none;
}
.show-p{
    display: none;
    background-color: #d6eaf7;
    padding: 10px;
    font-size: 0.9em;
    margin: 0;
}
#show-p1{
    display: block;
}
.each-FAQ > div{
    display: flex;
}
.each-FAQ >div> h3{
    padding: 0;
    line-height: 1.3;
    font-size: 1.15em;
}




.need-help{
    background-color: #8fcaf1;
    text-align: center;
    padding:30px;
}
.need-help >div> h2{
    padding:0;
    font-size: 1.7em;
    color: white;
}
.need-help > div > p{
    padding: 15px 0;
}
.help-btn{
    background-color: #0099ff;
    color: white;
    border:2px solid #0099ff;
    border-radius: 5px;
    padding: 15px 25px;
}
.FAQs{
    padding: 20px;
    color: #2389ce;
}




@media only screen and (min-device-width:767px){
    .footer1{
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    }
    #last-image{
        width: 150px;
        padding: 10px 20px;
    }
    #last-footer{
        display: flex;
        justify-content: space-between;
        padding: 10px 0;
    }
    #last-footer > div > p{
        font-weight: bolder;

    }
    .footer-content{
        font-weight: bold;
        margin: 0;
        padding-left: 20px;
        line-height: 3.3;
    }
    .corner{
        padding-right: 20px;
    }
}




@media only screen and (min-device-width:1023px){
    .hero{
        text-align: left;
        padding: 100px 70px;
    }
    .need-help{
        display: flex;
        justify-content: space-between;
        padding: 30px 70px;
    }
    .need-help > div > h2{
        text-align: left;
        font-size: 1.8em;
    }
    .need-help > div > p{
        text-align: left;
        margin: 0;
        padding: 0;
        padding-top: 10px;
    }
    .help-btn{
        height: 64px;
        width: 240px;
        font-size: 1.1em;
    }
    #last-image{
        padding-right: 70px;
    }
    .corner{
        padding-right: 70px;
    }
    .FAQ{
        padding:40px 70px;
        margin: 0;
    }

}