
.corner-icon{
    margin-left: auto;
    padding-right: 20px;
    border-bottom: 1px solid #EAEAEB;
    text-align:right;
    height:80px;
    line-height: 70px;
}
.header{
    display:flex;
    justify-content: space-around;
}
.dropdown{
    padding:0 7px;
}
.hero{
    background: linear-gradient( rgba(6, 194, 252, 0.527),skyblue), url(http://www.securitymagazine.com/ext/resources/SEC/2017/June/SEC0617-spot-feat-slide1_900px.jpg?1496250758);
}
.hero > h1{
    padding: 100px 40px;
    font-size: 2em;
    font-family: Light;
    font-weight: bolder;
}
.hero > h1 > a{
    text-decoration-line: underline;
    font-family: Dark;
}
.drop-down{
    display:flex;
    justify-content: space-between;
    margin:0;
    padding: 15px;
}
.drop-down > h2{
    margin:  0px;
    padding: 0;
    line-height: 4;
    font-size: 1.4em;
}
.Drp-down{
    height:50px;
    width:100px;
    margin:20px 0px;
    background-color: silver;
}
.drop-down > h2{
    margin:  0px;
    padding-left: 0;
}
.filter-h5{
    font-family: Dark;
    font-weight: bolder;
    padding: 20px;
    font-size: 1.2em;
    margin:10px 0;
    background-color: rgba(128,128,128,0.3);
}

.blue-line{
    position: absolute;
    padding:0;
    margin:0;
    bottom:30px;
    left:0;
}
.blue-line::before{
    display: block;
    content: "";
    border-top: .2rem solid #87ceeb;
    width: 2rem;
    transform: translateY(0.5rem);
}

.blue-color{
    color:skyblue;
    position: relative;
    padding-left: 0;    
}
.blue-color ::before{
    display: block;
    content: "";
    border-top: .2rem solid #87ceeb;
    width: 0rem;
    transform: translateY(0.9rem);

}
.color-blue{
    color:#87CEEB;
    margin-left:0;
    padding-left:0;
    font-size: 2em;
    font-weight: Bolder;

}
.color-blue::before{
    display: block;
    content: "";
    border-top: .2rem solid #87ceeb;
    width: 2rem;
    transform: translateY(1.3rem);
}
.add{
    display: flex;
}
.blue-color > h2{
    margin-left: 0;
    padding-left:20px;
}

.new-line::before{
    display: block;
    content: "";
    border-top: .2rem solid #87ceeb;
    width: 2rem;
    transform: translateY(0.5rem);
    margin:0;
}
.container{
    border:1px solid black;
    margin:10px;
}
.icons{
    display:flex;
    padding-top: 15px;
    padding-left: 30px;
}
.icon-image{
    height: 20px;
    width:20px;
    margin:0;
    padding:0 5px;
    padding-top: 2px;
    color: skyblue;
}

.icon-p{
    margin:0;
    padding-left: 5px;
    font-weight: 600;
}
.buttons{
margin:0;
padding: 10px 20px;
}

.check{
    display: flex;
    justify-content: space-between; 
    width:102%;
}
.sidebar > h3{
    color:skyblue;
}
.side-buttons{
    display: flex;
    flex-wrap: wrap;
    margin:10px 0;
}
.side-btns{
    display: flex;
    justify-content: space-between;
    background-color: white;
    border-radius: 100px;
    padding:10px 10px;
    margin: 2px 2px 2px 0;
    border: 1px solid grey;
    font-size: 0.88em;
}
.inside-btn{
    color: skyblue;
    padding-left: 20px;
}
.btns{
    background-color: white;
    border:1px solid black;
    border-radius: 20px;
    padding: 5px 10px;
    margin:0;
    margin-top: 5px;
    font-size: 0.9em;
}
.call-now{
    margin-top: auto;
}
.call-btn{
    margin:20px;
    background-color: #152238;
    color:white;
    border:1px solid #152238;
    padding:10px;
    width:180px;
    height:40px;
}
.hospital-img{
    width:100%;
    height:80%;
}
#need-help{
    text-align: center;
    background-color: #8fcaf1;
    padding:40px;
}
#white-h2{
    color:white;
    margin-top:0;
    padding-top:0;
    font-family: Dark;
}
.white-h4{
    color:white
}
.btn-last{
    color:white;
    background-color: #0099ff;
    border:2px solid #0099ff;
    border-radius:5px;
    height:70px;
    width:220px;
    margin:0;
    
}
#last-block{
    text-align: center;
    background-color: #021423;
    padding: 1rem;
}
#last-block > div{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.last-block-p{
    color:#cccccc;
    margin:10px;
}
#last-footer1{
    color:#636668;
}
#last-image{
	height:20%;
	width:150px;
}
.icon-img{
    width: 30px;
    height: 60px;
    margin-bottom: 0;
}


#last-footer > div > p{
    margin-left:0;
}
#footer{
	display: flex;
    justify-content: flex-start;
    line-height: 3;
}
.very-last{
    font-weight: bolder;
}
.very-last > div{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
#need-help > div > p{
    margin: 0;
    margin-bottom: 20px;
}
@media only screen and (max-device-width:767px){
    .hero > h1{
        padding: 70px 15px;
    }
    .call-now{
        text-align: center;
    }
}
@media only screen 
 and (min-device-width : 767px) 
 {
     .icons{
         max-width: 200px;
     }
    .main > div{
        padding: 30px;
        padding-top: 0;
    }
    .drop-down{
        padding: 40px;
    }
     .container{
        display: flex;
        justify-content: space-between;
    }
    .container > div{
        display: flex;
        flex-direction: column;
    }
     .container > .hospital-img{
         width:200px;
         height:470px;
         object-fit: cover;
     }  
     .call-btn{
         margin: 40px;
     }
     .Hospital-features{
         display: flex;
         justify-content: flex-start;
     }
     .btns{
         padding: 7px 10px;
     }
     .buttons{
         padding-left: 30px;
         padding-right: 0;
     }

     #last-block{
        display: none;
    }
    #last-footer > div > p{
        margin-left:20px;
        font-weight: bolder;
    }
    .very-last{
        padding:20px 0;
        font-weight: bolder;
    }
    #last-image{
        padding-right:40px;
    }
    .very-last > div{
        display: flex;
        flex-direction: row-reverse;
    }
    .corner{
        padding-right: 40px;
    }
    #last-footer{
        display: flex;
        flex-direction: row;
    }
 }
 @media only screen and (max-device-width:1023px){
     .sidebar{
         display: none;
     }
     .filter{
         display: none;
     }
     .side-flex{
         display: none;
     }
 }
 @media only screen and (min-device-width:1280px){
    .container{
        width:950px;
    }   

}
 @media only screen and (min-device-width:1023px){

    .sidebar > .check-box{
        display: flex;
        flex-direction: column; 
    }
    .check > h4{
        padding:20px 0 10px 0;
        line-height: 1.7;
        font-family: Light;
        font-weight: bolder;
    }
    .show-more{
        color: skyblue;
        padding: 10px 0;
        font-size: 1.2em;
    }
    .sidebar{
        padding-left: 20px;
    }
    .last-flex{
        padding:4px 0;
    }
    .container > .hospital-img{
        width:230px;
        height:450px;
        object-fit: cover;
    }
    .buttons{
        padding-right: 15px;
    }
    .btns{
        font-size:0.88em;
        padding:10px 8px;
    }
    .check-box > div{
        margin:2px;
    }
    .main{
        display: flex;
        justify-content: space-between;
        padding:0 30px 40px 40px;
    }
    .main > div{
        padding:0 ;
    }
    .corner-icon{
        display: none;
    }

    #need-help {
        display: flex;
        justify-content: space-between;
    }
    #need-help > div{
        text-align: left;
    }
    #need-help > div > p{
        margin-bottom: 0;
        margin-left: 0;
    }
    #need-help > div > h2{
        margin-left: 0;
        padding:0;
        padding-bottom: 10px;
    }
    .side-flex{
        display: flex;
        flex-direction: column;
        height: 100%;
        top: 0;
        left: 0;
      }
    #footer{
        margin:0;
        padding: 0;
        padding-bottom: 20px;
    }
    #last-footer > div > p{
        margin:0;
    }
    .corner{
        padding: 0;
    }
    .footer-content{
        padding: 0;
        padding-right: 20px;
    }
    .very-last{
        padding:20px 40px;
        font-weight: bolder;
    }
    .very-last > div{
        padding:0;
        margin: 0;
    }
    .fa-search , .fa-minus{
        margin-top: 30px;
    }
    #last-image{
        margin:0;
        padding:0;
    }
 }
 