@font-face{
    font-family:"Dark" ;
    src: url(../NexaD.otf);
}
@font-face{
    font-family:"Light";
    src: url(../NexaL.otf);
}
body{
    letter-spacing: 0.5px;
}
h1{
    font-family: Dark;
    font-size:1.8em;
    padding: 20px;
}
h2{
    font-family:Dark;
    padding: 20px;
    font-size: 1.6em;
}
h3{
    font-family:Dark;
    font-size:1.4em;
    padding: 30px 10px 20px 10px;
}
h4{
    font-family: Dark;
    font-size: 1.3em;
}
.last-flex{
    display: flex;
    padding: 1px;
}

p,span{
    font-family: Light;
    font-size:1em;
    margin:0 20px;
    letter-spacing: 1px;
    font-weight: 500;
    line-height: 1.4;
}
label{
    font-family: Light;
    font-size:1em;
    margin:0 20px;
    letter-spacing: 1px;
    font-weight: 700;
    line-height: 0.9;
}
a{
    font-family: Light;
    line-height: 50px;
    text-decoration: none;
    color: black;
    font-weight: bolder;
    font-size: 0.95em;
}


.nav-bar > .image-ico{
    display: flex;
    justify-content: space-between;

}
#sign{
    font-size:20px;
    line-height: 60px;
    padding-right: 20px;
    cursor: pointer;
}
.ul-list{
    text-align: center;
    border-top: 2px solid rgba(128,128,128,0.5);
    display: none;
}
.contents > li {
    border-bottom: 2px solid rgba(128,128,128,0.5);
}

.top-btns{
    display: none;
}
.image-01{
    height:50%;
    width: 40%;
    max-width:250px;
    max-height: 40px;
    padding:15px;
}
#btn1{
    height:40px;
    width:140px;
    border-radius: 3px;
    font-size: 0.8em;
    background-color: white;
    border:2px solid #152238;
}
#btn2{
    height: 40px;
    width:140px;
    border-radius: 3px;
    color:white;
    font-size: 0.8em;
    background-color: #152238;
    border:2px solid #152238;
}
.btn-first{
    color:white;
    background-color: #152238;
    border:2px solid #152238;
    border-radius:2px;
    height:47px;
    width:130px;
    margin:0;
}
.icon-size{
    padding: 5px;
    margin:0;
}

@media only screen and (max-device-width:767px){
    


    .very-last{
        background-color: #021423;
        display: flex;
        flex-direction: column;
        color: #CCCCCC;
        padding: 20px ;
        align-items: center;
    }

    #footer{
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
        justify-content: center;
    }
    .footer-content{
        padding: 5px;
        text-align: center;
        line-height: 2;
        font-weight: bolder;
    }
    .footer-content > a{
        color: #cccccc;
    }
    .corner{
        padding: 10px;
    }
    #last-footer{
        display: flex;
        flex-direction: column-reverse;
        margin: 0;
        padding: 0;
        text-align: center;
        align-items: center;
    }
    #last-footer > div > p{
        padding: 20px 0;
        margin: 0;
    }
    #last-image{
        margin:0;
        padding: 20px;
        width: 150px;
        text-align: center;
    }
}

@media only screen and (min-device-width:767px){
    #sign-one{
        padding-right: 15px;
    }
    #sign{
        padding-right: 30px;
    }
}

@media only screen and (max-device-width:1023px){
.btni{
    display: none;
}

}
@media only screen and (min-device-width:1023px){
    h1{
        font-size:2.2em;
    }
    h2{
        font-size: 2em;
    }
    h3{
        font-size:1.8em;
    }
    h4{
        font-family: Dark;
        font-size: 1.4em;
    }
    p,plabel,span{
        font-size: 1.1em;
        font-weight: 500;
        line-height: 1.5;
    }
    li{
        padding:0 10px;
        line-height: 5;
        font-family: Light;
    }
    .nav-bar{
        display: flex;
        justify-content: space-between;
    }

    .top-btns{
        display: block;
        line-height: 5;
        padding-right: 70px;
    }
    .ul-list{
        display: block;
        border: unset;
        
    }
    #sign{
        display: none;
    }


    .btn-first{
        height: 47px;
        width: 130px;
    }
    .image-01{
        padding:20px 70px;
        width:70%;
    }
    .imageii{
        height:80px;
        width:200px;
    }
    .contents{
        display: flex;
    }
    .contents > li{
        border: unset;
    }

    .temp{
        display: none;
    }
    #last-image{
        padding-right: 70px;
    }
    .corner{
    padding-right: 70px;
    }
    #footer{
        padding-left: 50px;
    }
    #last-footer > div > p{
        margin-left: 70px;
    }
    #last-image{
        height: 40px;
        padding: 10px 20px;
    }
    .footer1{
        display: flex;
        flex-direction: row-reverse;
        padding: 0;
        justify-content: space-between;
        line-height: 3.5;
    }
    #last-footer{
        display: flex;
        justify-content: space-between;
        padding-bottom: 10px;
    }
    #last-footer > div > p{
        font-weight: bolder;
    }
    .footer-content{
        margin: 0;
        padding: 0;
        padding-left: 20px;
        font-weight: bolder;
    }
    .corner{
        padding-right: 20px;
    }
}
