.hero{
    background: url("../images/tvastra-plus-assets/tvastraPlus_heroSection.jpeg");
    background-size:  cover;
    background-position: center;
    padding: 40px 20px 100px 20px;
    text-align: center;
    position: relative;
    margin: 0;
}
.PLUS-btn{
    background-color: #0099ff;
    border: 2px solid #0099ff;
    color: white;
    padding: 10px 20px;
    font-family: Dark;
    border-radius: 5px;
}
.plans{
    background: linear-gradient(to bottom,#b3c8d6,white);
    margin: 0;
}
.plans > div{
    margin: 0 20px;
    margin-top:0 ;
    position: relative;
    top: -80px;
    background: white   ;
    border-bottom: 1px solid rgba(128,128,127,0.5);
    box-shadow: 3px 2px 3px 3px rgba(128,128,127,0.4);
}
.plan-header > h3{
    padding: 20px;
}
.plan-header > p{
    margin: 0;
}
.plan-header{
    padding-bottom: 20px;
    margin: 0;
    text-align: center;
}

.each-plan{
    text-align: center;
}
.each-plan > h3{
    padding: 20px 0;
    margin: 0 80px ;
    border-bottom: 1px solid rgba(128,128,127,0.7);
}
.plan-p{
    padding:30px 0;
}
.plan-p > p{
    padding-bottom: 15px;
}
.price{
    display: flex;
    flex-direction: column;
}
.price > h3{
    font-size: 1.6em;    
}
.price > span{
    font-family: Dark;
    color: #0099ff;
}
.buy-btn{
    margin: 30px 30%;
    padding: 10px;
    background-color: #0099ff;
    border: 2px solid #0099ff;
    color: white;
    font-family: Dark;
    border-radius: 10px;
}
.label{
    background: green;
    color: white;
    padding: 5px 10px;
    border-radius: 20px;    
}
.each-plan > h3{
    font-size:1.3em;
}
.advance-plan{
    background: linear-gradient(to bottom,#b3c8d6,white);
    margin:20px;
}
.advance-plan > h3{
    padding-top: 30px;
    margin: 0 30px;
}
.header-rating{
    text-align: center;
}
.rating{
    text-align: center;
    padding: 30px;
    padding-top: 60px;


}
.rating-number > h2{
    padding: 0;
    font-size: 1.9em;
}
.stars{
    padding: 10px 0;
}
.blue-color{
    color: #0099ff;
}
.each-feature{
    text-align: center;
    padding: 20px;
}
.each-feature > h3{
    padding: 15px;
}
.each-feature > span{
    font-size: 0.95em;
    margin: 0;
}
.features{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 150px;
    padding: 0;
}
.plus-benefits{
    text-align: center;
}
.benefit-header > span{
    font-weight: 700;
    margin: 40px;
    padding: 20px;
    border-bottom: 5px solid #b3c8d6
}
.zero-consult > h2{
    margin: 20px;
    padding:  0;
    text-align:center;
}
.benefit-para{
    padding: 20px;
    text-align: left;
}
.flex-para{
    display: flex;
    padding-bottom: 10px;
}
.fa-check-circle{
    padding-top: 10px;
    color: #b3c8d6;
}
.onboard-images > div{
    margin: 0 ;
    width: 100%;
    height: 200px;
    background: white;
}
.onboard-image{
    padding-top:40px;
    width: 60%;
}
.onboard-images{
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2px;
    background: #b3c8d6;
    margin-bottom: 20px;
}
.feature-image{
    padding: 20px;
}
.all-images{
    padding-top: 50px;
}
.content > h3{
    text-align: center;

}
.flex-para > p{
    margin-right: 0;
}
.contain-image{
    border-radius: 10px;
    box-shadow:3px 3px 3px 3px  rgba(128,128,127,0.3);
    margin: 20px 0;
    width: 100%;
}
.contain-image > img{
    border-radius: 10px;
    width: 100%;
    object-fit: cover;
}
.tests{
    text-align: center;
}
.tests > h3{
    font-size: 1em;
}
.contain-test-image > img{
    width: 100%;
}
.contain-test-image{
    margin: 10px 50px;
}
.each-test{
    box-shadow: 3px 3px 3px 3px rgba(128,128,127,0.5);
    padding: 20px 0;
}
.each-test > h4{
    padding: 10px 0 20px 0;
    font-size: 1em;
}
.test-div{
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px;
}
.hide-test-div{
    display: none;
}
.first-circle{
    color: #0099ff;
}
.second-circle{
    color: rgba(128,128,127,0.4);
}
.comment-header{
    display: flex;
    justify-content: space-between;
    padding: 40px 20px 20px 20px;
}
.comment-header > h3{
    padding: 10px 0;
}
.each-comment{
    margin: 20px;
    padding: 20px;
    box-shadow: 2px 2px 2px 2px rgba(128,128,127,0.5);
}
.each-comment > p{
    font-family: Dark;
    font-size: 0.9em;
    margin: 0;
}
.each-comment > div{
    display: flex;
}
.comment-label{
    margin: 10px 0;
    padding:0;
    background: #b3c8d6;
    color: #043d63;
    padding: 10px;
    border-radius: 10px;
}
.comment-profile{
    display:flex;
    justify-content: space-around;
    flex-direction: column;
}
.comment-flex{
    padding-top: 20px;
}
.contain-comment-image{
    width: 80px;
}
.comment-image{
    width: 100%;
}





.grey{
    height: 17px;
    width: 100%;
    background-color: rgba(128,128,127,0.2);
    border-radius: 10px;
}

.blue-bar1{
    width: 90%;
    height: 100%;
    background-color: #0099ff;
    border-radius: 10px;
}
.blue-bar2{
    width: 50%;
    height: 100%;
    background-color: #0099ff;
    border-radius: 10px;
}
.blue-bar3{
    width: 50%;
    height: 100%;
    background-color: #0099ff;
    border-radius: 10px;
}
.blue-bar4{
    width: 40%;
    height: 100%;
    background-color: #0099ff;
    border-radius: 10px;
}
.blue-bar5{
    width: 20%;
    height: 100%;
    background-color: #0099ff;
    border-radius: 10px;
}
.each-bar{
    display: flex;
    padding-bottom: 15px;
}
.each-bar > label{
    margin: 0 10px;
    color: #0099ff;
}
.rating-bar{
    padding: 30px 10px 10px 10px;
}



















.FAQ{
    margin: 20px;
}
.FAQ > h2{
    padding: 20px 0;
    text-align: center;
}
.color-blue{
    padding-left: 50px;
    color: #4797d4;
}

.contain-icons{
    padding-top: 5px;
}

.contain-each > p{
    margin: 0;
    background-color: #dbe9f3;
    padding:5px;
}
.each-FAQ{
    display: flex;
    padding: 20px 0;
    color: #4797d4;
    justify-content: space-between;

}

#only-hide{
    display: block;
}
.fa-arrow-circle-up{
    display: none;
}
.fa-arrow-circle-down{
    display: block;
}
#only-show{
    display: none;
}
.show-p{
    display: none;
    background-color: #d6eaf7;
    padding: 10px;
    font-size: 0.9em;
    margin: 0;
}
#show-p1{
    display: block;
}
.each-FAQ > div{
    display: flex;
}
.each-FAQ >div> h3{
    padding: 0;
    line-height: 1.3;
    font-size: 1.15em;
}


@media only screen and (min-device-width:767px){
    .hero{
        text-align:left;
        padding: 80px 20px;
    }
    .hero > h2 , .hero > p{
        padding-left: 0;
        margin: 0;
    }
    .plans > div{
        top: -50px;
    }
    .each-plan{
        width: fit-content;
    }
    .each-plan > h3{
        margin: 0;
    }
    .contain-plans{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        padding-bottom: 30px;
    }
    .plan-header{
        padding: 30px 0 50px 0;
    }
    .basic-plan > h3{
        margin: 0  20px;
    }
    .advance-plan > h3{
        padding: 20px;
        margin: 0 20px;
    }
    .label{
        line-height: 0;
    }
    .comprehensive-plan > h3{
        margin:0 20px;
    }
    .advance-plan{
        margin: 0;
    }
    .header-rating > p{
        margin: 0 40px;
    }
    .features{
        display: flex;
        justify-content: space-around;
    }
    .rating{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .rating-number{
        padding-top: 50px;
    }
    .rating-bar{
        padding-left: 0;
    }
    .zero-consult > h2{
        padding-top:0 ;
        margin: 0;
        padding-bottom: 20px;
    }
    .flex-div{
        padding: 40px 30px;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .feature-image{
        display: flex;
    }
    .feature-image1{
        flex-direction: row-reverse;
    }
    .content{
        padding-left: 20px;
    }
    .comments{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px;
        padding: 20px;
    }
    .each-comment{
        margin: 0;
    }
    .contain-test-image{
        margin: 20px 40%;
    }
    .tests > h3{
        text-align: left;
    }

    .FAQ > h2{
        text-align: left;
    }
}


@media only screen and (min-device-width:1023px){
    .hero{
        padding: 100px 70px;
    }
    .comments{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        padding: 10px 75px;
    }
    .plans > div{
        margin: 0 70px;
        top: -80px;
    }
    .FAQ{
        padding: 20px 50px;
    }
    .header-rating{
        padding: 0 70px;
    }
    .header-rating > p{
        margin: 0;
    }
    .rating{
        padding: 70px;
        padding-bottom: 30px;
    }
    .rating-bar{
        margin-right: 30%;
    }
    .contain-image{
        width: 500px;
        height:100%;
        margin-left: 20px;
    }
    .comment-header{
        padding: 10px 70px;
    }
    .test-div{
        padding:20px 70px;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .onboard-image{
        padding-top: 10px;
    }
    .tests > h3{
        padding-left: 70px;
    }
    .all-images{
        padding: 20px 50px;
    }
    .flex-div{
        padding:40px 70px;
    }
    .features{
        padding: 20px 50px;
    }
}
