@font-face{
    font-family:"Dark";
    src: url(/asset/NexaD.otf);
}
@font-face{
    font-family:"Light";
    src: url(/asset/NexaL.otf);
}
body{
    letter-spacing: 0.5px;
}
h1{
    font-family: Dark;
    font-size:1.8em;
    padding: 20px;
}
h2{
    font-family:Dark;
    padding: 20px;
    font-size: 1.6em;
}
h3{
    font-family:Dark;
    font-size:1.4em;
    padding: 30px 10px 20px 10px;
}
h4{
    font-family: Dark;
    font-size: 1.3em;
}
.last-flex{
    display: flex;
    padding: 1px;
}

p,span{
    font-family: Light;
    font-size:1em;
    margin:0 20px;
    letter-spacing: 1px;
    font-weight: 500;
    line-height: 1.4;
}
label{
    font-family: Light;
    font-size:1em;
    margin:0 20px;
    letter-spacing: 1px;
    font-weight: 500;
    line-height: 0.9;
}
a{
    font-family: Light;
    line-height: 50px;
    text-decoration: none;
    color: black;
    font-weight: bolder;
    font-size: 0.95em;
}
.nav-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.nav-bar > ul{
    display: block;
    display: flex;
}
#res-menu{
    display: none;
}
#sign-two{
    font-size: 20px;
    line-height: 60px;
    cursor: pointer;
    display: none;
}
#sign-one{
    font-size:20px;
    line-height: 60px;
    cursor: pointer;
}
#sign-one{
    display: block;
}
ul{
    display: none;
}
#res-menu:checked ~ label #sign-one{
    display: none;

    }
#res-menu:checked ~ label #sign-two{
    display: block;
}
#res-menu:checked ~ ul{
    display: block;
}
.menu-1{
    display: flex;
}
.image-01{
    height:50%;
    width: 40%;
    max-width:250px;
    max-height: 40px;
    padding:15px;
}
#btn1{
    height:40px;
    width:140px;
    border-radius: 3px;
    font-size: 0.8em;
    background-color: white;
    border:2px solid #152238;
}
#btn2{
    height: 40px;
    width:140px;
    border-radius: 3px;
    color:white;
    font-size: 0.8em;
    background-color: #152238;
    border:2px solid #152238;
}
.btn-first{
    color:white;
    background-color: #152238;
    border:2px solid #152238;
    border-radius:2px;
    height:47px;
    width:130px;
    margin:0;
}
.icon-size{
    padding: 5px;
    margin:0;
}
@media only screen and (max-device-width:767px){
    .very-last{
        background-color: #021423;
        display: flex;
        flex-direction: column;
        color: #CCCCCC;
        padding: 20px ;
        align-items: center;
    }
    #footer{
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
        justify-content: center;
    }
    .footer-content{
        padding: 5px;
        text-align: center;
        line-height: 2;
        font-weight: bolder;
    }
    .corner{
        padding: 10px;
    }
    #last-footer{
        display: flex;
        flex-direction: column-reverse;
        margin: 0;
        padding: 0;
        text-align: center;
        align-items: center;
    }
    #last-footer > div > p{
        padding: 20px 0;
        margin: 0;
    }
    #last-image{
        margin:0;
        padding: 20px;
        height: 20%;
        width: 150px;
        text-align: center;
    }
}
@media only screen and (max-device-width:1023px){
.btni{
    display: none;
}
.nav-bar > ul{
    display: none;
}
}
@media only screen and (min-device-width:1023px){
    h1{
        font-size:2.2em;
    }
    h2{
        font-size: 2em;
    }
    h3{
        font-size:1.8em;
    }
    h4{
        font-family: Dark;
        font-size: 1.4em;
    }
    p,plabel,span{
        font-size: 1.1em;
        font-weight: 500;
        line-height: 1.5;
    }
    li{
        padding:0 10px;
        line-height: 5;
        font-family: Light;
    }
    .btn-first{
        height: 47px;
        width: 130px;
    }
    .btni{
        display: "";
    }
    .image-01{
        padding:20px 70px;
        width:70%;
    }
    .nav-bar > .imagei{
        height:80px;
        width:200px;
    }
    ul{
        display: block;
    }
    #sign-one{
        display: none;
    }
    .nav-bar> .btni{
        margin:20px 70px 20px 0;
    }
    .temp{
        display: none;
    }
}
